# --- ansible ------------------------------------------------------------------

ansible>=2.5
cryptography
netaddr

# --- documentation ------------------------------------------------------------

sphinx
sphinx_rtd_theme
