bridge={{ hostapd_bridge }}
channel={{ hostapd_channel }}
country_code={{ hostapd_country_code }}
driver=nl80211
hw_mode={{ hostapd_hw_mode }}
ieee80211ac=1
ieee80211d=1
ieee80211h=1
ieee80211n=1
interface={{ hostapd_interface }}
rsn_pairwise=CCMP
ssid={{ hostapd_ssid }}
utf8_ssid=1
wmm_enabled=1
wpa=2
wpa_key_mgmt=WPA-PSK WPA-PSK-SHA256
wpa_passphrase={{ hostapd_wpa_passphrase }}
